<header>
	<h2>Welcome</h2>
	<h3>Words:</h3>
</header>

<section class="word-list">
	<ul>
		<% @words_list.each() do |word| %>
		<li><a href="/word/<%= word.id %>"><%= word.word_entry() %></a></li>
		<% end %>	
	</ul>
</section>