<header>
	<h3>Your Words:</h3>
</header>

<section class="word-list">
	<ul>
		<% @words_list.each() do |word| %>
		<li><a href="/word/<%= word.id %>"><%= word.word_entry() %></a></li>
		<% end %>	
	</ul>
	<a class="add" href="/word/new">Add New Word</a>
</section>