<!DOCTYPE html>
<html>
<head>
	<title>Dictionary</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/main.css">
</head>
<body>
	<section class="main">
		<header>
			<h1>Dictionary</h1>
		</header>
		<nav>
			<ul>
				<li><a href="/">All Words</a></li>
				<li><a href="/word/new">Add Word</a></li>
				<li><a href="/clear">Clear</a></li>
			</ul>
		</nav>
		<section class="content">
			<%= yield %>
		</section>
	</section>
</body>
</html>