<form action='/word/<%= @word.id() %>/definition' method='post'>
	<div class="form-group">
		<label for='definition'>New Definition</label>
		<input id='definition' name='definition' type='text' class="form-control">	
	</div>
	<button type="submit" class="btn-success">Add Definition</button>
</form>