<form action='/' method='post'>
	<div class="form-group">
		<label for='definition'>New Definition</label>
		<input id='definition' name='definition' type='textarea'>	
	</div>
	<button type="submit">Add Definition</button>
</form>