<form action='/word/<%= @word.id() %>/definition' method='post'>
	<div class="form-group">
		<label for='definition'>New Definition</label>
		<input id='definition' name='definition' type='text'>	
	</div>
	<button type="submit">Add Definition</button>
</form>