<section class="definition">
	<h3><%= @word.word_entry() %></h3>
	<h4>Definitions:</h4>
	<ol>
	<% @word.definition_list().each() do |definition| %>
		<li><%= definition.definition_entry() %></li>
	<% end %>
	</ol>
	<a class='add' href="/word/<%= @word.id() %>/definition/new">Add Definition</a>
</section>